/* These are technically different variations, but it's easier to lump them together */
@font-face {
	font-family: 'Agrandir';
	src: url('/fonts/PPAgrandir-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Agrandir';
	src: url('/fonts/PPAgrandirText-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Agrandir';
	src: url('/fonts/PPAgrandir-GrandHeavy.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}

@tailwind base;
@tailwind components;

:root {
	@apply bg-gray-200 antialiased overflow-x-hidden scroll-smooth;
	background-image: linear-gradient(to bottom right, #ececec, #edebed);
}

.container {
	@apply mx-auto w-full max-w-[theme(screens.xl)] px-[max(theme(padding.5),5vw)] xl:px-5;
}

:is([class*='entered:']) {
	transition: all 0.7s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.slide-up {
	@apply overflow-hidden;
}

.slide-up > :only-child {
	@apply transition-transform duration-1000 skew-y-6 ease-out-expo translate-y-[115%] entered-fonts-loaded:translate-y-0 entered-fonts-loaded:skew-y-0;
}

.overlap {
	display: grid;
	grid-template-areas: 'overlap';
}

.inline-overlap {
	display: inline-grid;
	grid-template-areas: 'overlap';
}
.overlap > :not(.absolute),
.inline-overlap > :not(.absolute),
.overlap-item,
.inline-overlap-item {
	grid-area: overlap;
}

@tailwind utilities;
